*{
    margin: 0;
    box-sizing: border-box;
}

header img{
    width: 100%;
    height: 50px;
}
body{
    background-color: #E4CF78;
}
#watermark{
    position:fixed;
    bottom:5px;
    right:5px;
    opacity:.3;
}
main h2{
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    padding: 0 5vw;
}
.container{
    padding: 0.5em 2em;
    background-color: rgba(0, 0, 0,0.6);
    border-radius: 4px;
    box-shadow: 2px 2px 14px 7px #000;
    width: 30%;
    float: left;
}
form{
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

input[type="text"],input[type="password"]{
    width: 100%;
    height: 30px;
    font-size: 1em;
    margin: 1em 0;
    position: relative;
}

.btn.primary{
    background: #fcca00;
    color: #333;
    border-color: #333;
}
.btn{
    font-size: 1em;
    font-family: 'Open Sans',sans-serif, helvetica, arial;
    padding: 0.5em;
    border: 1px solid #333;
    min-width: 6em;
    position: relative;
    outline: none;
}
.flex{
    display: flex;
}
.spacebetween{
    justify-content: space-between;
}
.textfield{
    font-size: 1em;
    margin: 1em 0;
    position: relative;
}
